/__pycache__/

/venv/

.env

/media/

/core/__pycache__/

/apps/accounts/__pycache__/
/apps/accounts/migrations/__pycache__/

/apps/goods/__pycache__/
/apps/goods/migrations/__pycache__/

/apps/shop/__pycache__/
/apps/shop/migrations/__pycache__/

db.sqlite3
